@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
.page__body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1220px;
  }
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.section {
  background-color: #ffffff;
}
.section--darker {
  background-color: #eaeaea;
}

.main-header {
  background-color: #ffffff;
  padding: 10px 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header__logo {
  width: 33.3px;
  height: 37.6px;
}

@media (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu__checkbox {
  display: none;
}

.button-menu__img {
  background-image: url("../../img/open-mobile-menu.svg");
  width: 24px;
  height: 18px;
  display: block;
}

.button-menu__checkbox[type=checkbox]:checked + .button-menu__img {
  background: none;
}

.button-menu__checkbox[type=checkbox]:checked + .button-menu__img::before {
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/close-mobile-menu.svg");
}

.main-navigation {
  display: block;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translate(50%);
  width: 100%;
}
.main-navigation--close {
  display: none;
}
@media (min-width: 768px) {
  .main-navigation {
    display: block;
    position: static;
    width: auto;
    transform: none;
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media (min-width: 768px) {
  .main-navigation__list {
    background-color: none;
    flex-direction: row;
    align-self: none;
    gap: 36px;
  }
}

.main-navigation__item {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  display: flex;
}
@media (min-width: 768px) {
  .main-navigation__item {
    border: none;
    width: auto;
  }
  .main-navigation__item--current {
    border-bottom: 2px solid #68b738;
  }
}

.main-navigation__link {
  padding: 22px 0 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .main-navigation__link {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

.button {
  padding: 8px 44px;
  font-family: "Oslowd", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  min-width: 100px;
  text-align: center;
  box-sizing: border-box;
}
.button--grey {
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .button {
    padding: 14px 26px;
    width: auto;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero-block {
  position: relative;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-block__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}

.hero-block__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
}

.hero-block__image {
  width: 280px;
  height: 270px;
}

.hero-block__background-image {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 302px;
  background-image: url("../../img/hero-block-background-image.jpg");
  background-size: 180%;
  background-position: -159px -43px;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero-block__background-image {
    background: none;
  }
}
@media (min-width: 1440px) {
  .hero-block__background-image {
    top: -10%;
    right: 0;
    min-width: 50%;
    min-height: 694px;
    background-image: url("../../img/hero-block-background-image.jpg");
    background-size: cover;
    background-position: bottom right;
  }
}

.hero-block__background-image::after {
  content: "";
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -2;
}
@media (min-width: 768px) {
  .hero-block__background-image::after {
    background: none;
  }
}
@media (min-width: 1440px) {
  .hero-block__background-image::after {
    right: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
    background-size: cover;
    background-position: bottom right;
  }
}

.hero-block > .button {
  max-width: 280px;
}

.programs {
  padding-top: 20px;
}

.program-card {
  padding: 24px 20px 22px;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 19px;
}
.program-card:last-child {
  margin-top: 20px;
}

.program-card__cricle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}

.program-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  align-self: center;
  grid-column: 2/3;
}

.program-card__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  grid-column: 1/3;
}

.program-card__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 47px 4px 0;
  margin-top: 19px;
  grid-column: 1/3;
}

.works {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 49px;
}

.work-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 40px;
}

.work-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.work-item:not(:last-child) {
  margin-bottom: 20px;
}

.work-item__rect {
  min-width: 60px;
  min-height: 60px;
  background-color: #68b738;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.work-item__rect--leaf {
  background-image: url("../../img/icon-leaf.svg");
}
.work-item__rect--powder {
  background-image: url("../../img/icon-powder.svg");
}
.work-item__rect--eat {
  background-image: url("../../img/icon-eat.svg");
}
.work-item__rect--scales {
  background-image: url("../../img/icon-scales.svg");
}

.work-item__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}

.live-example {
  padding: 0 20px;
  padding-top: 20px;
}

.live-example__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
}

.live-example__info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.live-example__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14.5px 19px 17.5px 18px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  position: relative;
}

.live-example__info-item-subject {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.live-example__info-item-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  max-width: 59px;
  text-align: center;
  position: absolute;
  bottom: -25%;
  background-color: #eaeaea;
  padding: 0 14px;
}

.live-example__info-subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.live-example__slider {
  padding: 20px 0 40px;
  min-height: 256px;
}

.live-example__slider-wrapper {
  display: flex;
  position: relative;
}

.live-example__slider-before {
  width: 50%;
  overflow: hidden;
}
.live-example__slider-before::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(2px, -50%);
  width: 4px;
  height: 100%;
  border: none;
  border-radius: 2px;
  background-color: #666666;
  z-index: 1;
}

.live-example__slider-after {
  width: 50%;
  overflow: hidden;
  transform: scale(-1, 1);
}

.live-example__slider-after__image {
  transform: scale(-1, 1);
}

.live-example__slider-curtine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #666666;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
.live-example__slider-curtine::before {
  content: "";
  background-image: url("../../img/sleder-buttontr.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 27px 0 41px;
  border-top: 1px solid #d9d9d9;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-item {
  padding: 11px 0 14px;
  min-height: 190px;
  border-top: 1px solid #ebebeb;
}
.card-item:last-child {
  border-bottom: 1px solid #ebebeb;
}

.card-item__info-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  margin-bottom: 13px;
}

.card-item__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 14px;
  max-width: 76px;
}

.card-item-table {
  min-width: 140px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card-item-table__column {
  min-width: 140px;
}

.card-item-table__name {
  margin: 0;
  padding: 0;
}

.card-item-table__desc {
  text-align: end;
  margin: 0;
  padding: 0;
}

.card-item__image {
  margin: auto;
}

.card-item__button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}

.last-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.last-card__plus {
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
}

.last-card__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}

.last-card__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 21px;
}

.last-card__button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.more-products {
  padding: 25px 0 0;
}

.more-products__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
}

.more-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.more-products__item {
  padding: 13px 0 19px;
}

.more-products-card {
  border-top: 1px solid #cdcdcd;
}
.more-products-card:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.more-products-card__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 13px;
}

.more-products-card__info {
  padding: 0;
  width: 100%;
  margin-bottom: 12px;
}

.more-products-card__button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}

.more-products-card-table {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.more-products-card-table__info-name {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.more-products-card-table__info-price {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: end;
}

.promo {
  padding: 35px 0 35px;
}

.promo__wrapper {
  position: relative;
  background-color: transparent;
  padding-top: 59px;
  padding-bottom: 43px;
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/promo-image.png");
  background-size: cover;
  z-index: -1;
}
.promo__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
}

.promo__img {
  display: block;
  margin: 0 auto 48px;
}

.promo__text {
  margin: 0 auto;
  width: 161px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.form {
  padding: 0 0 32px;
}

.form-main__title {
  margin: 27px 0 37px;
}

.form-main__text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-wrapper {
  border: none;
  padding: 0;
  margin: 0;
}

.form-wrapper--name {
  padding: 39px 0 24px;
}

.form-value {
  display: flex;
  align-items: center;
  justify-content: end;
}
.form-value:not(:last-child) {
  margin-bottom: 14px;
}

.form-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
}

.form-label--small {
  width: 94px;
}

.form-input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  padding: 14px 20px 13px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  min-width: 173px;
  box-sizing: border-box;
  flex-grow: 1;
}
.form-input::placeholder {
  text-transform: uppercase;
}

.form-wrapper--goal {
  padding: 22px 0 19px;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
}

.filter-control--radio:not(:last-child) {
  margin-bottom: 13px;
}

.control-mark-radio {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.control-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.control-input[type=radio]:checked + .control-mark-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #68b738;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.form-wrapper--landlord {
  padding: 26px 0 24px;
  box-sizing: border-box;
}

.form-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.form-input-with-icon {
  padding-right: 40px;
  position: relative;
  background-position: center right 15px;
  background-repeat: no-repeat;
}
.form-input-with-icon--email {
  background-image: url("../img/input-icon-email.svg");
}
.form-input-with-icon--phone {
  background-image: url("../img/input-icon-phone.svg");
}

.form-wrapper--comments {
  padding: 0 0 23px;
}

.form-input-textarea {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  height: 150px;
  resize: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.form-input-textarea::placeholder {
  text-transform: uppercase;
}

.form-wrapper--other {
  padding: 0 0 34px;
}

.form-group {
  display: flex;
  align-items: center;
}

.filter-control--check:not(:last-child) {
  margin-bottom: 13px;
}

.control-mark-check {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  position: relative;
}

.control-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.control-input[type=checkbox]:checked + .control-mark-check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../img/check-checked.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.form-footer__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-footer__required {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-top: 21px;
}

.address__info {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}

.address__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.address__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.location {
  min-height: 362px;
  overflow: hidden;
  background-image: url("../../img/map.png");
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  position: relative;
}
.location::before {
  content: "";
  width: 50px;
  height: 53px;
  position: absolute;
  background-image: url("../../img/map-pin.png");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.footer__icon-text {
  padding: 39px 76px 32px;
  margin: 0 auto;
}

.footer__socials-wrapper {
  padding: 23px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
}

.footer__social-icon:nth-child(2) {
  margin: 0 24px;
}

.footer__academy-logo {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */