@import "../variable";

.last-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.last-card__plus {
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
}

.last-card__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $card-item-title;
  margin-bottom: 8px;
}

.last-card__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin-bottom: 21px;
}

.last-card__button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  // padding: 10px 109px;
}
