@import "variable";

.address__info {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet) {
    padding: 60px 40px 56px;
    align-items: center;
    width: 630px;
    margin: 0 auto;
  }
}

.address__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: $tablet) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}
