@import "variable";

.card-item {
  padding: 11px 0 14px;
  min-height: 190px;
  // box-sizing: border-box;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet) {
    background-color: $basic-grey;
    padding: 0 38px 39px 38px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  @media (min-width: $desktop) {
    padding-bottom: 40px;
  }
}

.card-item__info-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  margin-bottom: 13px;
  // padding-bottom: 21px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    // background-color: $basic-grey;
  }

  @media (min-width: $desktop) {
    margin-bottom: 24px;
  }
}

.card-item__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $card-item-title;
  margin-bottom: 14px;
  max-width: 76px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    max-width: 155px;
    text-align: center;
    margin: 0 auto 21px;
  }
}

.card-item__image {
  margin: auto;
}

.card-item__button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  // box-sizing: border-box;
  // margin-top: 13px;

  @media (min-width: $desktop) {
    padding: 10px 53px;
  }
}
