@import "mixins";
@import "variable";

.card-list {
  @include reset-list;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 68px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
