@import "variable";

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 0;
  padding: 27px 0 41px;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border-top: none;
    padding-top: 46px;
    padding-bottom: 163px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 165px;
  }
}
