@import "variable";

.checkbox-wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 221px 1fr;
    row-gap: 32px;
    column-gap: 123px;
    margin-top: -10px;
  }

  @media (min-width: $desktop) {
    display: flex;
    row-gap: 0;
    justify-content: flex-start;
  }
}
