@import "variable";

.control:not(:last-child) {
  margin-bottom: 13px;
}

.control__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.control__input[type="checkbox"]:checked + .control__mark--check {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/check-checked.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
  }
}

.control__input[type="radio"]:checked + .control__mark--radio {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-green;
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
}

.control__mark--check {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  position: relative;
}

.control__mark--radio {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}
