@import "variable";

.footer__icons-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    padding: 55px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__icon-text {
  padding: 39px 76px 16px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
  }
}

.footer__socials-wrapper {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;

    border: none;
  }

  @media (min-width: $desktop) {
    margin-top: -5px;
  }
}

.footer__cat-energy-link {
  text-decoration: none;
  color: transparent;
  margin-right: 26px;
}

.footer__social-link {
  text-decoration: none;
  color: transparent;

  &:nth-child(2) {
    margin: 0 24px;
  }
}

.footer__social-icon {
  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
  }
}

.footer__academy-logo {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 5px;
  }
}


.footer__academy-logo-link {
  text-decoration: none;
  color: transparent;

  @media (min-width: $tablet) {
    margin-right: 22px;
  }
}

.footer__academy-logo-text-link {
  text-decoration: none;
  color: transparent;
}
