@import "variable";

.footer__icons-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    padding: 55px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__icon-text {
  padding: 39px 76px 32px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
  }
}

.footer__socials-wrapper {
  padding: 23px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;

    border: none;
  }
}

.footer__social-icon {
  &:nth-child(2) {
    margin: 0 24px;
  }

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
  }
}

.footer__academy-logo {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0;
  }
}

.footer__academy-logo-text {
  @media (min-width: $tablet) {
    margin-right: 28px;
  }
}
