@import "variable";

.form-textarea {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  height: 150px;
  resize: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;

  &::placeholder {
    text-transform: uppercase;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    min-height: 169px;
  }
}
