@import "variable";

.form-footer {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 282px 178px;
    column-gap: 64px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 568px 178px;
    column-gap: 84px;
  }
}

.form-footer__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 0px;
    padding: 13px 45px;
    min-height: 52px;
  }
}

.form-footer__required {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-top: 21px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 0;
  }
}
