.form-footer__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-footer__required {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-top: 21px;
}
