@import "variable";

.form-input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  padding: 14px 16px 13px;
  // width: 100%;
  // max-width: 228px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  min-width: 173px;
  box-sizing: border-box;
  flex-grow: 1;

  &::placeholder {
    text-transform: uppercase;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
    outline-offset: -1px;
  }

  &:disabled,
  &--disabled {
    outline: 2px solid #ff8282;
    outline-offset: -1px;
  }

  &--email {
    background-image: url("../img/email-default.svg");
    padding-right: 40px;
    position: relative;
    background-position: center right 15px;
    background-repeat: no-repeat;

    &:focus {
      background-image: url("../img/email-focus.svg");
    }

    &:disabled {
      background-image: url("../img/email-error.svg");
    }
  }

  &--phone {
    background-image: url("../img/phone-default.svg");
    padding-right: 40px;
    position: relative;
    background-position: center right 15px;
    background-repeat: no-repeat;

    &:focus {
      background-image: url("../img/phone-focus.svg");
    }

    &:disabled {
      background-image: url("../img/phone-error.svg");
    }
  }
}
