@import "variable";

.form-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}
