@import "variable";

.form-value {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:first-child {
      width: 570px;
    }

    &:last-child {
      width: 572px;
    }
  }
}
