@import "variable";

.form-wrapper--goal {
  padding: 22px 0 19px;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
}

.filter-control--radio {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.control-mark-radio {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.control-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.control-input[type="radio"]:checked + .control-mark-radio {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-green;
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
}
