@import "variable";

.form-input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  padding: 14px 16px 13px;
  // width: 100%;
  // max-width: 228px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  min-width: 173px;
  box-sizing: border-box;
  flex-grow: 1;

  &::placeholder {
    text-transform: uppercase;
  }
}

.form-input__textarea {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  height: 150px;
  resize: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;

  &::placeholder {
    text-transform: uppercase;
  }
}
