@import "variable";

.hero-block {
  position: relative;
  padding-top: 27px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    width: 540px;
    margin: 0 auto;
    align-items: start;
    position: relative;
    padding-bottom: 506px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 464px 1fr;
    padding: 60px 70px 180px 150px;
  }
}

.hero-block__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin: 0;
  margin-bottom: 25px;
  // margin-left: 40px;

  @media (min-width: $tablet) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    margin-left: 40px;
  }
}

.hero-block__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 52px;
    text-align: left;
    margin-left: 40px;
  }
}

.hero-block__image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet) {
    position: absolute;
    width: 709px;
    height: 609px;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    z-index: -1;
  }

  @media (min-width: $desktop) {
    width: 552px;
    height: 499px;
    grid-column: 2/3;
    grid-row: 1/4;
    top: 50%;
    transform: translate(-78.5%, -44.5%);
    z-index: 1;
  }
}

.hero-block__background-image {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 302px;
  // background-image: url("../../img/hero-block-background-image-mobile.jpg");
  background-image: url("../img/hero-block-background-image-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-block-background-image-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    background: none;
  }

  @media (min-width: $desktop) {
    top: -37%;
    right: 0;
    min-width: 50%;
    min-height: 694px;
    // background-image: url("../../img/hero-block-background-image.jpg");
    background-image: url("../img/hero-block-background-image-desktop.png");
    background-size: cover;
    background-position: bottom left 5%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-block-background-image-desktop@2x.png");
    }
  }
}

.hero-block__background-image::after {
  content: "";
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 302px;
  background-color: rgba(104, 183, 56, 0.85);

  z-index: -2;

  @media (min-width: $tablet) {
    background: none;
  }

  @media (min-width: $desktop) {
    right: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
    background-size: cover;
    background-position: bottom right;
  }
}

.hero-block > .button {
  max-width: 280px;
  width: 100%;

  @media (min-width: $tablet) {
    width: auto;
  }

  @media (min-width: $desktop) {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    padding: 17px 28px;
    margin-left: 40px;
    width: fit-content;
  }
}
