@import "variable";

.live-example__slider {
  padding: 20px 0 40px;
  min-height: 256px;

  @media (min-width: $tablet) {
    height: 512px;
    padding-top: 104px;
    padding-bottom: 101px;
  }
}

.live-example__slider-wrapper {
  display: flex;
  position: relative;

  @media (min-width: $tablet) {
    height: 100%;
    padding: 0 74px 0;
  }
}

.live-example__cat-before-food {
  width: 50%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(2px, -50%);
    width: 4px;
    height: 100%;
    border: none;
    border-radius: 2px;
    background-color: #666666;
    z-index: 1;
  }
}

.live-example__cat-after-food {
  width: 50%;
  overflow: hidden;
  transform: scale(-1, 1);
}

.live-example__cat-before-food-image {
  height: 100%;

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.live-example__cat-after-food-image {
  height: 100%;

  &--mirrored {
    transform: scale(-1, 1);
  }

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.live-example__slider-curtine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: $white;
  border: 2px solid #666666;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;

  &::before {
    content: "";
    background-image: url("../../img/sleder-buttontr.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
