@import "variable";
@import "mixins";

.live-example {
  // padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 75px;
  position: relative;

  @media (min-width: $desktop) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 156px;
      background-color: $white;
      top: 0;
    }
  }
}

.live-example__wrapper {
  @media (min-width: $desktop) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 560px;
    z-index: 1;
  }
}

.live-example__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 63px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 146px;
    margin-bottom: 69px;
    width: 432px;
  }
}

.live-example__info {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: column;
  }
}

.live-example__info-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    align-self: start;
  }
}

.live-example__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14.5px 19px 17.5px 18px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  position: relative;

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 42px;
    }
    // padding: 15px 57px 20px;
    width: 162px;
  }
}

.live-example__info-item-subject {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__info-item-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  max-width: 59px;
  text-align: center;
  position: absolute;
  bottom: -25%;
  background-color: $section-dark;
  padding: 0 14px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    max-width: 142px;
    bottom: -10%;
  }
}

.live-example__info-subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 11px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
  }
}

.live-example__info-subtitle-text {
  @media (min-width: $desktop) {
    margin-right: 66px;
  }
}

.live-example__slider {
  padding: 20px 0 40px;
  min-height: 256px;

  @media (min-width: $tablet) {
    height: 512px;
    padding-top: 104px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop) {
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 0;
  }
}

.live-example__slider-wrapper {
  display: flex;
  position: relative;

  @media (min-width: $tablet) {
    height: 100%;
    padding: 0 74px 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.live-example__cat-before-food {
  width: 50%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(2px, -50%);
    width: 4px;
    height: 100%;
    border: none;
    border-radius: 2px;
    background-color: #666666;
    z-index: 1;
  }
}

.live-example__cat-after-food {
  width: 50%;
  overflow: hidden;
  transform: scale(-1, 1);
}

.live-example__cat-before-food-image {
  height: 100%;

  @media (min-width: $tablet) {
    width: 560px;
  }

  @media (min-width: $desktop) {
    width: 590px;
    transform: translate(-15px);
  }
}

.live-example__cat-after-food-image {
  height: 100%;

  &--mirrored {
    transform: scale(-1, 1);
  }

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.live-example__slider-curtine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: $white;
  border: 2px solid #666666;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;

  &::before {
    content: "";
    background-image: url("../../img/sleder-buttontr.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url("../img/sleder-buttontr@2x.svg");
    }
  }
}
