@import "variable";

.location {
  min-height: 362px;
  overflow: hidden;
  background-image: url("../../img/map.png");
  background-position: center;
  background-size: cover;
  background-color: $white;
  position: relative;

  @media (min-width: $desktop) {
    background-image: url("../img/map-desktop.png");
    background-position: 46% 50%;
    background-size: 110%;
    min-height: 400px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 53px;
    position: absolute;
    background-image: image-set( url("../img/map-pin-mobile.png") 1x,
                                 url("../img/map-pin-mobile@2x.png") 2x);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  @media (min-width: $tablet) {
    &::before {
      width: 113px;
      height: 106px;
      background-image: image-set( url("../img/map-pin-tablet.png") 1x,
                                   url("../img/map-pin-tablet@2x.png") 2x);
    }
  }

  @media (min-width: $desktop) {
    &::before {
      transform: translate(193%, -57%);
      background-image: image-set( url("../img/map-pin-desktop.png") 1x,
                                   url("../img/map-pin-desktop@2x.png") 2x);
    }
  }
}
