@import "variable";

.main-header {
  background-color: #ffffff;

  padding: 10px 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.main-header__logo {
  width: 33.3px;
  height: 37.6px;
}
