@import "variable";

@media (max-width: $tablet) {
  .nojs__main-header-logo {
    margin-right: auto;
  }

  .nojs__button {
    display: none;
  }

  .nojs__main-navigation {
    display: block;
  }

  .nojs__header {
    margin-bottom: 201px;
  }
}
