@import "mixins";
@import "variable";

.program-card {
  padding: 24px 20px 22px;
  background-color: $basic-grey;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 19px;

  &:last-child {
    margin-top: 20px;
  }

  @media (min-width: $tablet) {
    padding: 77px 62px 57px 52px;
    grid-template-columns: 340px 200px;
  }

  @media (min-width: $desktop) {
    &:last-child {
      margin-top: 0;
    }

    grid-template-columns: 100px 1fr;
    column-gap: 62px;
    padding: 52px 60px 55px 52px;
  }
}

.program-card__cricle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet) {
    width: 200px;
    height: 200px;

    grid-column: 2/3;
    grid-row: none;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 100px;

    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  &--cat {
    position: relative;

    &::after {
      @include program-card-image(36px, 50px);
      content: "";
      background-image: url("../img/program-card-image-cat-mobile.svg");
    }

    @media (min-width: $tablet) {
      &::after {
        width: 140px;
        height: 194px;
        background-image: url("../img/program-card-image-cat-tablet.svg");
      }
    }

    @media (min-width: $desktop) {
      &::after {
        width: 70px;
        height: 97px;
        background-image: url("../img/program-card-image-cat-desktop.svg");
        transform: translate(-50%, -58%);
      }
    }
  }

  &--tiger {
    position: relative;

    &::after {
      @include program-card-image(134px, 56px);
      content: "";
      background-image: url("../img/program-card-image-tiger-mobile.svg");
    }

    @media (min-width: $tablet) {
      &::after {
        width: 268px;
        height: 112px;
        background-image: url("../img/program-card-image-tiger-tablet.svg");
      }
    }

    @media (min-width: $desktop) {
      &::after {
        width: 134px;
        height: 56px;
        background-image: url("../img/program-card-image-tiger-desktop.svg");
        transform: translate(-51%, -54%);
      }
    }
  }
}

.program-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  align-self: center;
  grid-column: 2/3;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    grid-column: auto;
  }

  @media (min-width: $desktop) {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}

.program-card__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  margin: 0;
  margin-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  grid-column: 1/3;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/2;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-column: 1/3;
    grid-row: auto/auto;
    margin: 0;
    margin-top: 39px;
    margin-bottom: 23px;
  }
}

.program-card__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  position: relative;

  width: fit-content;
  padding: 4px 47px 4px 0;
  margin-top: 19px;

  grid-column: 1/3;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(12px, -50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 7.8px;
    border-color: transparent transparent transparent $black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(11px, -50%);
    width: 18px;
    height: 2px;
    background-color: $black;
    transition: width 0.3s;
  }

  &:hover,
  &:active {
    &::after {
      width: 26px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}
