@import "mixins";
@import "variable";

.program-card-image-cat {
  position: relative;

  &::after {
    @include program-card-image(36px, 50px);
    content: "";
    background-image: url("../img/program-card-image-cat-mobile.svg");
  }

  @media (min-width: $tablet) {
    &::after {
      width: 140px;
      height: 194px;
      background-image: url("../img/program-card-image-cat-tablet.svg");
    }
  }

  @media (min-width: $desktop) {
    &::after {
      width: 70px;
      height: 97px;
      background-image: url("../img/program-card-image-cat-desktop.svg");
    }
  }
}
