@import "variable";

.promo {
  padding: 35px 0 35px;

  @media (min-width: $tablet) {
    padding: 69px 0 76px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    height: 293px;
    align-self: flex-end;
    box-sizing: border-box;
  }
}

.promo__wrapper {
  position: relative;
  // min-height: 279px;
  background-color: transparent;
  padding-top: 59px;
  padding-bottom: 43px;

  @media (min-width: $tablet) {
    padding: 57px 124px 60px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: start;
  }
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/promo-image.png");
  background-size: cover;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // width: 280px;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.promo__img {
  display: block;
  margin: 0 auto 48px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 46px auto 46px auto;
  }
}

.promo__text {
  margin: 0 auto;
  width: 161px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 32px;
    text-align: center;
  }
}
