.title-with-line {
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 1000%;
    background-color: #68b738;
    left: calc(100% + 22px);
    // left: 100%;
    // left: 20px;
    top: 50%;
    transform: translate(0, 70%);
    z-index: 1;
  }
}

.form-wrapper--landlord .title-with-line {
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 1000%;
    background-color: #68b738;
    left: calc(100% + 14px);
    // left: 100%;
    // left: 20px;
    top: 50%;
    transform: translate(0, -500%);
  }
}
