$white: #ffffff;
$black: #000000;
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$section-dark: #f2f2f2;
$basic-green: #68b738;
$card-item-title: #222222;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
