@import "variable";

.work-item {
  display: flex;
  align-items: center;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    min-height: 280px;
    flex-direction: column;
    align-items: flex-start;
    justify-items: baseline;
    gap: 31px;
    padding-top: 34px;

    &:not(:last-child) {
      margin: 0;
    }

    // &:nth-child(3) {
    //   padding: 0;
    // }

    position: relative;
    counter-increment: num;

    &::before {
      content: counter(num);
      position: absolute;
      right: 0;
      top: 0;
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
    }
  }
}

.work-item__rect {
  min-width: 60px;
  min-height: 60px;
  background-color: $basic-green;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  &--leaf {
    background-image: url("../img/icon-leaf.svg");
  }

  &--powder {
    background-image: url("../img/icon-powder.svg");
  }

  &--eat {
    background-image: url("../img/icon-eat.svg");
  }

  &--scales {
    background-image: url("../img/icon-scales.svg");
  }

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
  }
}

.work-item__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  margin: 0;
  width: fit-content;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    z-index: 1;
  }
}
