@import "../variable";

.button {
  padding: 8px 44px;
  font-family: "Oslowd", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  background-color: $basic-green;
  min-width: 100px;
  text-align: center;
  box-sizing: border-box;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: mix(#5eaa2f, $black, 95%);
    color: mix($white, #5eaa2f, 50%);
  }

  &--grey {
    color: $special-dark-grey;
    background-color: $basic-grey;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: mix(#ebebeb, $black, 99%);
      color: mix($white, $special-dark-grey, 60%);
    }
  }

  @media (min-width: 768px) {
    padding: 14px 26px;
    width: auto;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}
